# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
examples/*/node_modules
examples/*/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
examples/*/.next/
examples/*/out/

# testing
examples/*/coverage

# production
examples/*/build

# misc
.DS_Store
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
